body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 192, 203, 0.7);
    background-image: url('timeline_images/background.png');
}

.timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.timeline-content h2{
    text-align: center;
}

.timeline-content img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* This is for the arrow shapes - adjust as needed */
.timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

.back-button {
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 20px; /* Rounded edges */
    background-color: #e280bce1; /* Background color */
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.37); /* Optional: adds shadow for depth */
}

.back-button:hover {
    background-color: #db4da5e1; /* Darker background on hover */
}